body {
    font-family: Arial, sans-serif;
    background-image: url('heart.png'); /* Replace 'heart.png' with your image file name */
    background-size: cover; /* Ensures the background image covers the entire page */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
    color: #df2cd9;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: #ed8ad2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
}

button {
    background-color: #ff3366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6699;
}

.hidden {
    display: none;
}

.funny-pic {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}